@import '../../index.scss';

.card-exchange {
  width: 690px;
  height: 292px;
  &-opacity {
    opacity: .4;
  }
}

.card-position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: $break-point-tablet) {
  .card-exchange {
    width: 495px;
  }
}

@media screen and (max-width: $break-point-phone) {
  .card-exchange {
    width: 280px;
    height: 100%;
  }
  .card-position {
    align-items: center;
    flex-direction: column;
  }
}
