%h2-size {
  font-size: 48px;
  line-height: 56px;

  @media screen and (max-width: $break-point-tablet) {
    font-size: 38px;
    line-height: 46px;
  }
  @media screen and (max-width: $break-point-phone) {
    font-size: 28px;
    line-height: 36px;
  }
}
