// Fonts
$primary-font: 'Roboto';
$regular: 300;
$normal: 500;
$bold: 700;

// Colors
$white: #fff;
$black: #3a3a3a;
$cyan: #58b4ae;
$gray: #cbcbcb;
// Breakpoints

$break-point-tablet: 768px;
$break-point-phone: 575px;
