@import '../../../index.scss';

.input-container {
  position: relative;
}

.input {
  font-size: 16px;
  line-height: 19px;

  width: 100%;
  padding: 12px 52px 12px 20px;

  border: 1px solid $gray;
  border-radius: 4px;
}
